.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  min-width: 350px;
}


@media only screen and (max-width: 600px) {
  .container {
      min-width: 90%;
  }
}

/* Flexbox Classes */

.d-flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-item-center{
  align-items: center;
}

.align-item-start{
  align-items: start;
}

.flex-column{
  flex-direction: column;
}

.flex-grow-1{
  flex-grow: 1;
}

.column-gap{
  column-gap: .5rem;
}

/* Border Classes */

.border-light-1{
  border: 1px solid lightgray;
}

.border-radius{
  border-radius: 5px;;
}

/* Spacing Classes */

.p-1{
  padding: 1rem;
}

/* Typography Classes */

.font-bold{
  font-weight: bold;
}

.font-large{
  font-size: large;
}

.font-larger {
  font-size: larger;
}

.text-danger{
  color: red;
}

.text-success{
  color: green;
}

.text-left{
  text-align: left;
}
/* Form */
button{
  background-color: black;
  outline: none;
  border: none;
  color: white;
  padding: .4rem 1rem;
  font-size: medium;
  border-radius: 5px;
  cursor: pointer;
}

input{
  background: rgb(230, 230, 230);
  outline: none;
  border: none;
  border-radius: 5px;
  padding: .5rem;
  
}